<!DOCTYPE html>
<html lang="zh-TW"
	prefix="og: https://ogp.me/ns#" >
<head>
	<meta charset="UTF-8">
	<link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="stylesheet" href="app.css">
	<title>My First Node.js App</title>
</head>
<body>
<style>
    li{
        display: inline;
    }
</style>
<nav>
    <li><a href="./home"> Home</a></li>
    <li><a href="./about"> about</a></li>
</nav>